nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
    height: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease;
  }
  
  nav a:hover {
    color: #ffcc00;
  }

  .sidebar {
    background-color: #f8f9fa;
    height: 100%;
    padding: 1rem;
  }
  
  .sidebar h3 {
    margin-top: 0;
  }
  
  .sidebar input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .sidebar button {
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .sidebar button:hover {
    background-color: #0062cc;
  }

  img {
    height: 50px;
    margin-left: 20px;
  }